version: "3.8"

services:
    app:
        image: maven:3.9-eclipse-temurin-21

        volumes:
            - .:/app
            - ~/.m2:/root/.m2

        working_dir: /app

        ports:
            - "8080:8080"

        command: tail -f /dev/null
